{% extends 'music/base.html' %}
{% block title %}{{ album }}{{ '编辑界面' }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-2 col-md-2">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h1>图片:</h1>
{#                    <a href="{% url 'music:edit' album.id   %}">#}
{#                        {% if album.album_logo %}#}
{#                            <img src="{{ album.album_logo.url }}" class="img-responsive">#}
{#                        {% else %}#}
{#                            <h3>No image to display</h3>#}
{#                        {% endif %}#}
{#                    </a>#}
                    <h1>{{ album.album_title }} <small>{{ album.genre }}</small></h1>
                    <h2>{{ album.artist }}</h2>
                </div>
            </div>
        </div>

        <!-- 可以修改部分 -->
    <div class="container-fluid">
     <div class="row">
        <div class="col-sm-10 col-md-10">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>修改新专辑</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                     <table class="table">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>专辑名称</th>
                            <th>艺术家</th>
                            <th>风格</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
{#                        album_list#}
<tr>

    <form action="{% url 'music:edit_album' album.id  %}" method="post" style="display: inline;">
            {% csrf_token %}
   <td><input type="text" name="album_id" value=" {{ album.id }}" /></td>
   <td> <input type="text" name="album_title" value=" {{ album.album_title }}" /></td>
   <td> <input type="text" name="album_artist" value="{{ album.artist }}" /></td>
    <td><input type="text" name="album_genre" value="{{ album.genre }}" /></td>
    <td><a href="{% url 'music:favorite_album' album.id %}" class="btn-favorite"><span class="glyphicon glyphicon-star {% if album.is_favorite %}active{% endif %}"></span></a>

                                        <button type="submit" class="btn btn-warning btn-xs">
                                            <span class="glyphicon glyphicon-edit"></span>更新
                                        </button>

        </form>


        <form action="{% url 'music:delete_album' album.id  %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="album_id" value="{{ album.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>删除
                                        </button>
        </form>
</td>

</tr>

                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>

</div>
</div>
</div>
{% endblock %}
