{% extends 'music/base_schedule.html' %}
{% block title %}所有预约schedules{% endblock %}
{#{% block songs_active %}active{% endblock %}#}

{% block body %}
<div class="container-fluid schedules-container">

    <div class="row">
        <div class="col-sm-12">
            <ul class="nav nav-pills" style="margin-bottom: 10px;">
                {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'music:schedules' 'all' %}">查看所有</a>
{#                {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'music:schedule' 'favorites' %}">标记</a>#}
            </ul>
        </div>
    </div>

    <div class="row">

        <div class="col-sm-12">

            <div class="panel panel-default">
                <div class="panel-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>姓名1</th>
                                <th>预约日期</th>
                                <th>电话号码</th>
                                <th>状态</th>
                                <th>备注</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for schedule in schedule_list %}
                                <tr>
                                    <td>{{ schedule.name }}</td>
                                    <td>{{ schedule.schedule_telephone }}</td>
                                    <td>
                                       {{ schedule.status }}
                                    </td>
                                    <td>
                                        <a href="{% url 'music:schedule_detail' schedule.id %}">
                                        </a>
                                        <a >{{ schedule.schedule_name }}</a>
                                    </td>
                                    <td>
                                        <a ></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}
