{% extends 'music/base.html' %}
{% block title %}{{ schedule }}{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
<div class="container-fluid songs-container">

    <div class="row">

        <!-- Left Album Info -->
        <div class="col-sm-4 col-md-3">
            <div class="panel panel-default">
                <div class="panel-body">
{#                    <a href="{% url 'music:schedule_detail' schedule.id %}">#}
{#                        {% if schedule.id %}#}
{#                            <h3>{{ schedule.id }}   </h3>#}
{#                        {% else %}#}
{#                            <h3>No image to display</h3>#}
{#                        {% endif %}#}
{#                    </a>#}
                    <h1>{{ schedule.schedule_name }} <small>{{ schedule.schedule_date }}</small></h1>
                    <h2>{{ schedule.schedule_memo }}</h2>
                </div>
            </div>
        </div>

        <!-- Right Song Info -->
        <div class="col-sm-8 col-md-9">

            <ul class="nav nav-pills" style="margin-bottom: 10px;">
{#                <li role="presentation"></li>#}
                <a href="{% url 'music:create_schedule'  %}">添加新预约</a>
{#            <li role="presentation" </li>#}
                {% if filter_by == 'all' %}class="active"{% endif %}><a href="{% url 'music:schedules' 'all' %}">查看所有</a>
{#                <li role="presentation" {% if filter_by == 'favorites' %}class="active"{% endif %}><a href="{% url 'music:schedule' 'favorites' %}">Favorites</a></li>#}
            </ul>

            <div class="panel panel-default">
                <div class="panel-body">

                    <h3>所有预约</h3>

                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}

                    <table class="table">
                        <thead>
                        <tr>
                            <th>姓名_detail</th>
                            <th>预约日期</th>
                            <th>备注</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sch in schedule.schedule_set.all %}
                            <tr>
                                <td>{{ sch.schedule_name }}</td>
                                <td>
                                    <a >

                                    </a>
                                </td>
                                <td>

                                </td>
                                <td>
                                    <form action="{% url 'music:delete_schedule'  schedule.id %}" method="post" style="display: inline;">
                                        {% csrf_token %}
                                        <input type="hidden" name="schedule_id" value="{{ schedule.id }}" />
                                        <button type="submit" class="btn btn-danger btn-xs">
                                            <span class="glyphicon glyphicon-remove"></span>&nbsp; Delete
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>

                </div>
            </div>

        </div>

    </div>

</div>

{% endblock %}
